<STRONG>Welcome</STRONG> to the GA microsite.<br />
<p id='welcome_para'>
If this is your first visit feel free to take a peek at one of our awesome courses or visit the main General Assembly site by clicking <a href="https://generalassemb.ly/" target="_blank">here</a>. If you'd like to register your interest or just fancy a chat, please get in touch by clicking any of the contact icons at the bottom of the page.
</p>

<STRONG>Testimonials:</STRONG>
<p id='testimonials'>
" Tres tres bon "<br />
" Where's the pizza? "<br />
" It was working a second ago.. "<br />
" I just fancied emptying my savings account "<br />
" Can you explain params to me one more time "
<p>

