<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for room in @rooms %>
    <tr>
      <td><%= link_to(room.name, room) %></td>
      <td><%= link_to "Edit", edit_room_path(room) %></td>
      <td><%= link_to "Delete", room, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create Room", new_room_path %></p>