<table>
  <tr>
    <th>Location</th>
  </tr>
  <% for campus in @campuses %>
    <tr>

      <td><%= link_to(campus.name, campus) %></td>
        
      <% if current_user %>
        <% if current_user.role == 'admin' || current_user.role == 'instructor' %>
          <td><%= link_to "Edit", edit_campus_path(campus) %></td>
          <td><%= link_to "Delete", campus, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
     <% end %>

    </tr>
  <% end %>
</table>

<% if current_user %>
  <% if current_user.role == 'admin' || current_user.role == 'instructor' %>
    <p><%= link_to "Create Campus", new_campus_path %></p>
  <% end %>
<% end %>