
* {
  box-sizing: border-box;
}

body {
  background: url(gastudents.jpg);
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

 #wrapper {
  background-color: rgba(0,0,0,0.3);
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0 2px 5px;
  margin-bottom: 5px;
}

.headerclass {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
}

nav {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}

#nav_ul {
  padding: 3px;
}

.nav_li {
  list-style: none;
  margin: 0 10px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

#content {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
  min-height: 300px;
  padding: 10px 20px;
}

#push{
  height: 2px;
}

#footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 10px 10px 5px 0px;
}

li {
  text-align: center;
  display: inline-block;
  margin: 0 2px;
}

td {
  padding: 5px;
}

.button {
  font-family: 'Oswald', sans-serif;
}

.button:hover {
  opacity: 0.5;
}

td {
  padding: 5px 15px 5px 0;
}

th {
  padding: 5px 15px 0 0;
}
